# Day 7: Celebrity Product Drops Sales Performance Analysis

You are a Product Analyst working on Nike's marketing performance team. Your team wants to evaluate the effectiveness of celebrity product collaborations by analyzing sales data. You will investigate the performance of celebrity product drops to inform future marketing strategies.

In [3]:
import pandas as pd
import numpy as np

fct_sales_data = [
  {
    "sale_id": 1,
    "sale_date": "2025-01-10",
    "product_id": 901,
    "sale_amount": None,
    "celebrity_id": 101
  },
  {
    "sale_id": 2,
    "sale_date": "2025-01-15",
    "product_id": 901,
    "sale_amount": 1500,
    "celebrity_id": 101
  },
  {
    "sale_id": 3,
    "sale_date": "2025-02-03",
    "product_id": 902,
    "sale_amount": 2000.5,
    "celebrity_id": 102
  },
  {
    "sale_id": 4,
    "sale_date": "2025-03-12",
    "product_id": 903,
    "sale_amount": 2500.75,
    "celebrity_id": 103
  },
  {
    "sale_id": 5,
    "sale_date": "2025-03-20",
    "product_id": 904,
    "sale_amount": None,
    "celebrity_id": 104
  },
  {
    "sale_id": 6,
    "sale_date": "2025-02-28",
    "product_id": 901,
    "sale_amount": 1000,
    "celebrity_id": 101
  },
  {
    "sale_id": 7,
    "sale_date": "2025-03-25",
    "product_id": 902,
    "sale_amount": 300,
    "celebrity_id": 102
  },
  {
    "sale_id": 8,
    "sale_date": "2025-03-30",
    "product_id": 905,
    "sale_amount": 1800,
    "celebrity_id": 105
  },
  {
    "sale_id": 9,
    "sale_date": "2025-01-20",
    "product_id": 903,
    "sale_amount": 1200,
    "celebrity_id": 103
  },
  {
    "sale_id": 10,
    "sale_date": "2025-02-05",
    "product_id": 906,
    "sale_amount": 500,
    "celebrity_id": 106
  },
  {
    "sale_id": 11,
    "sale_date": "2025-03-01",
    "product_id": 907,
    "sale_amount": 2200,
    "celebrity_id": 107
  },
  {
    "sale_id": 12,
    "sale_date": "2025-02-15",
    "product_id": 908,
    "sale_amount": 1300,
    "celebrity_id": 101
  },
  {
    "sale_id": 13,
    "sale_date": "2025-03-15",
    "product_id": 909,
    "sale_amount": None,
    "celebrity_id": 102
  },
  {
    "sale_id": 14,
    "sale_date": "2025-01-25",
    "product_id": 910,
    "sale_amount": 900,
    "celebrity_id": 108
  },
  {
    "sale_id": 15,
    "sale_date": "2025-02-20",
    "product_id": 905,
    "sale_amount": 700,
    "celebrity_id": 105
  },
  {
    "sale_id": 16,
    "sale_date": "2025-03-28",
    "product_id": 902,
    "sale_amount": 1500,
    "celebrity_id": 102
  },
  {
    "sale_id": 17,
    "sale_date": "2024-11-15",
    "product_id": 901,
    "sale_amount": 800,
    "celebrity_id": 101
  },
  {
    "sale_id": 18,
    "sale_date": "2024-07-30",
    "product_id": 902,
    "sale_amount": 1000,
    "celebrity_id": 102
  },
  {
    "sale_id": 19,
    "sale_date": "2025-04-10",
    "product_id": 905,
    "sale_amount": 2000,
    "celebrity_id": 105
  },
  {
    "sale_id": 20,
    "sale_date": "2024-09-05",
    "product_id": 903,
    "sale_amount": 1100,
    "celebrity_id": 103
  }
]
fct_sales = pd.DataFrame(fct_sales_data)

## Question 1

For Q1 2025 (January 1st through March 31st, 2025), can you identify all records of celebrity collaborations from the sales data where the sale_amount is missing? This will help us flag incomplete records that could impact the analysis of Nike's product performance.

In [4]:
# Filter for Q1 2025 (Jan 1 - Mar 31, 2025)
q1_2025_sales = fct_sales[
    (fct_sales['sale_date'] >= '2025-01-01') &
    (fct_sales['sale_date'] <= '2025-03-31')
]

# Filter for missing sale_amount
missing_sale_amount_q1 = q1_2025_sales[q1_2025_sales['sale_amount'].isna()]

# Output the flagged incomplete records
print("Q1 2025 celebrity collaborations with missing sale_amount:")
print(missing_sale_amount_q1)

Q1 2025 celebrity collaborations with missing sale_amount:
    sale_id   sale_date  product_id  sale_amount  celebrity_id
0         1  2025-01-10         901          NaN           101
4         5  2025-03-20         904          NaN           104
12       13  2025-03-15         909          NaN           102

## Question 2

For Q1 2025 (January 1st through March 31st, 2025), can you list the unique combinations of celebrity_id and product_id from the sales table? This will ensure that each collaboration is accurately accounted for in the analysis of Nike's marketing performance.

In [5]:
# Filter for Q1 2025
q1_2025_sales = fct_sales[
    (fct_sales['sale_date'] >= '2025-01-01') &
    (fct_sales['sale_date'] <= '2025-03-31')
]

# Get unique combinations of celebrity_id and product_id
unique_collabs = q1_2025_sales[['celebrity_id', 'product_id']].drop_duplicates()

print(unique_collabs)

    celebrity_id  product_id
0            101         901
2            102         902
3            103         903
4            104         904
7            105         905
9            106         906
10           107         907
11           101         908
12           102         909
13           108         910

## Question 3

For Q1 2025 (January 1st through March 31st, 2025), can you rank the unique celebrity collaborations based on their total sales amounts and list the top 3 collaborations in descending order? This will help recommend the most successful partnerships for Nike's future product drop strategies.

In [6]:
# Filter for Q1 2025
q1_2025_sales = fct_sales[
    (fct_sales['sale_date'] >= '2025-01-01') &
    (fct_sales['sale_date'] <= '2025-03-31')
]

# Group by celebrity_id and product_id, summing sale_amount
collab_sales = (
    q1_2025_sales
    .groupby(['celebrity_id', 'product_id'], as_index=False)['sale_amount']
    .sum()
)

# Sort by total sales in descending order
collab_sales_sorted = collab_sales.sort_values(by='sale_amount', ascending=False)

# Get top 3 collaborations
top_3_collabs = collab_sales_sorted.head(3)

print(top_3_collabs)

   celebrity_id  product_id  sale_amount
2           102         902      3800.50
4           103         903      3700.75
0           101         901      2500.00

Made with ❤️ by [Interview Master](https://www.interviewmaster.ai)